name: Build Pure-Data MacOS

on: [workflow_dispatch, workflow_call]

jobs:
  # ==========================
  # Pure-Data Build
  # ==========================

  # System:         macOS
  # Architecture:   Pure Data
  pd_build_macos:
    runs-on: macos-latest
    steps:
    - name: Check out Pure-Data
      uses: actions/checkout@v2
      with:
        repository: 'pure-data/pure-data'
        path: 'pd'
    - name: Check out mdeGranular
      uses: actions/checkout@v2
      with:
        path: 'mde'
    - name: Install system libraries
      run: brew install autoconf automake libtool
    - name: Build and Install Pure-Data
      run: |
        cd $GITHUB_WORKSPACE/pd
        ./autogen.sh
        ./configure
        make
        sudo make install
    - name: Build and Install mdeGranular
      run: |
        cd $GITHUB_WORKSPACE/mde/pd
        make
    - name: Upload Binaries
      uses: actions/upload-artifact@v2
      with:
        name: mdeGranular~.pd_darwin
        path: ${{ github.workspace }}/mde/pd/mdeGranular~.pd_darwin